.wrapper {
	display: flex;
	font-weight: 600;
	color: #006b35;
	height: 20px;
	padding: 0 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 99px;
	background: #f0f3f9;
}
