.wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	overflow: overlay;
	.container {
		padding: 12px 0px;
		gap: 12px;
		width: 100%;
		overflow: overlay;
		.renderFilter {
			gap: 16px;
		}
		.filter {
			// background: #fff;
			border-radius: 16px;
			// padding: 16px;
			gap: 16px;
			.distance {
				width: 166px;
			}
			.search {
				width: 295px;
			}
		}
		.categoryWrapper {
			overflow: auto;
			gap: 8px;
			&::-webkit-scrollbar {
				display: none;
			}
			.categoryItem {
				color: #48546b;
				padding: 8px 12px;
				justify-content: center;
				align-items: center;
				gap: 8px;
				background: #fff;
				border-radius: 40px;
				cursor: pointer;
				min-width: fit-content;
			}
			.categoryActive {
				border: 1px solid #006b35;
				background: #e7f5e9;
				color: #006b35;
			}
			.disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
		.hangout {
			padding: 0 32px;
			gap: 12px;
			.titleHangout {
				gap: 8px;
				align-items: center;
				cursor: pointer;
				.title {
					font-weight: 600;
					font-size: 16px;
				}
			}
			.titleHangoutHeader {
				width: 200px;
			}
			.titleHangoutHeaderRow {
				justify-content: space-between;
				align-items: center;
			}
			.contentHangout {
				background: #fff;
				padding: 12px 16px;
				gap: 16px;
				border-radius: 16px;
				.skeleton {
					border-radius: 16px;
					height: 82px;
					width: 100%;
				}
				.switchStatus,
				.titleHangout {
					justify-content: space-between;
					align-items: center;
				}
				.switchStatus {
					justify-content: flex-start;
					gap: 8px;
				}
				.hangoutPeople {
					gap: 4px;
					padding: 12px 16px;
					border-bottom: 1px solid #f4f8fc;
					overflow-x: auto;
					/* Thanh scrollbar ngang */

					&::-webkit-scrollbar:horizontal {
						height: 4px; /* độ dày thanh ngang */
					}
				}
				.titleHangout {
					display: flex;
					padding: 12px 16px;
					align-items: center;
					gap: 8px;
					border-radius: 16px;
					cursor: pointer;
				}
			}
		}
		.myEventWrapper {
			padding: 0 32px;
			gap: 12px;
			width: 100%;

			.wrapperItem {
				overflow-x: auto;
				width: 100%;
				gap: 12px;
				height: fit-content;
				padding: 12px 0px;
				&::-webkit-scrollbar {
					height: 2px;
				}
				.contentSkeleton {
					width: 285px;
					height: 78px;
					border-radius: 16px;
				}
			}
		}
		.wrapperUp {
			padding: 0 32px !important;
			width: 100%;
			gap: 12px;
			.title {
				width: 100%;
				cursor: pointer;
			}
			.wrapperItemUp {
				flex-wrap: wrap;
				gap: 14px;
				overflow: auto;
				&::-webkit-scrollbar {
					display: none;
				}
				.contentBody {
					max-width: 368px;
					width: 100%;
					& > :global(.ant-skeleton-input) {
						width: 100%;
						height: 308px;
						border-radius: 16px;
					}
				}
			}
		}
		.myCommunityWrapper {
			padding: 0 32px;
			gap: 12px;
			width: 100%;
			.myCommunity {
				border-radius: 16px;
				background: #fff;

				.communityText {
					padding: 8px 16px;
					font-size: 12px;
					gap: 12px;
					align-items: center;
					border-bottom: 1px solid #eef3f6;
					cursor: pointer;
				}
				.communityList {
					margin: 12px 16px;
					overflow-x: auto;
					gap: 16px;
					height: 100%;
					.communityItem {
						justify-content: space-between;
						cursor: pointer;
						gap: 8px;
						.contentSkeletonAva {
							height: 64px;
							width: 64px;
							border-radius: 16px;
							span {
								height: 100%;
								width: 100%;
							}
						}
						.contentSkeletonInput {
							min-width: 64px;
							span {
								height: 100%;
								min-width: 64px;
								width: 100%;
							}
						}
						.communityAva {
							height: 64px;
							width: 64px;
						}
						.communityBandage {
							height: 24px;
							width: 24px;
							right: -2px;
						}
						.communityLabel {
							text-align: center;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							max-width: 64px;
							font-weight: 600;
						}
					}
				}
			}
		}
		.chatRoomWrapper {
			padding: 0 32px;
			gap: 12px;
			width: 100%;
			.chatRoom {
				border-radius: 16px;
				background: #fff;
				min-height: 138px;

				.chatRoomText {
					padding: 8px 16px;
					font-size: 12px;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid #eef3f6;
					cursor: pointer;
				}
				.chatRoomList {
					margin: 16px;
					overflow-x: auto;
					gap: 16px;
					height: 100%;
					.chatRoomItem {
						gap: 8px;
						align-items: center;
						cursor: pointer;
						min-width: 166px;
						border-radius: 16px;
						background: #f0f3f9;
						padding: 12px;
						.contentSkeletonAva {
							height: 40px;
							width: 40px;
							border-radius: 16px;
							span {
								height: 100%;
								width: 100%;
							}
						}
						.contentSkeletonInput {
							min-width: 40px;
							span {
								height: 16px;
								min-width: 80px;
								width: 100%;
							}
						}
						.contentSkeletonInput2 {
							min-width: 40px;
							span {
								height: 14px;
								min-width: 80px;
								width: 100%;
							}
						}
						.chatRoomAva {
							height: 40px;
							width: 40px;
							border: 1px solid #cbd5e1;
						}
						.leftFlag {
							img {
								position: relative;
								left: 9px;
								width: unset;
							}
						}
						.chatRoomBandage {
							height: 24px;
							width: 24px;
							right: -2px;
						}
						.chatRoomLabel {
							text-align: center;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							max-width: 80px;
							font-size: 12px;
							font-weight: 600;
						}
						.chatRoomNum {
							color: #48546b;
							text-align: center;
							font-size: 10px;
						}
						.totalOnl {
							align-items: center;
							gap: 4px;
							font-weight: 600;
							color: #48546b;
							font-size: 12px;
							.online {
								display: flex;
								width: 10px;
								height: 10px;
								max-width: 16px;
								border-radius: 50%;
								background: #1e9037;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								border: 1px solid #fff;
							}
						}
					}
				}
			}
		}
		.notData {
			padding: 16px 0;
			align-items: center;
			justify-content: center;
			width: 100%;
			gap: 12px;
			border-radius: 16px;
			background: #fff;
			.labelNoData {
				font-weight: 500;
			}
			svg {
				height: 32px;
				width: 32px;
			}
			button {
				font-size: 12px;
				height: 32px;
			}
		}
		.eventNotFound {
			width: 100%;
			align-items: center;
			justify-content: center;
			height: 262px;
			gap: 8px;
			color: #48546b;
			.eventNotFoundTitle {
				text-align: center;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
			}
			.eventNotFoundLabel {
				text-align: center;
			}
		}
		.title {
			cursor: pointer;
		}
	}
}
.prefixIcon {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #006b35;
	align-items: center;
	justify-content: center;
	svg {
		width: 16px !important;
		height: 16px !important;
		fill: #fff;
	}
}
@media (min-width: 0px) and (max-width: 769px) {
	.wrapper {
		.container {
			.filter {
				margin: 0;
				border-radius: 16px;
				gap: 16px;
				flex-direction: column;
				.distance {
					width: 100%;
				}
			}
			.hangout {
				padding: 0 8px;
			}
			.myEventWrapper {
				padding: 0 8px;
				.wrapperItem {
					padding: 0 8px;
				}
			}
			.wrapperUp {
				padding: 8px !important;
				width: 100%;
				.wrapperItemUp {
					flex-wrap: wrap;
					gap: 8px;
					width: 100%;
				}
			}
			.myCommunityWrapper,
			.chatRoomWrapper {
				padding: 8px;
			}
		}
	}
}
