.playAudioContainer {
	.playAudio {
		align-items: center;
		justify-content: center !important;
		padding: 6px;
		gap: 8px;
		order: 1;
		cursor: pointer;
		border-radius: 50%;
		height: 32px;
		width: 32px;
		border-radius: 99px;
		background: #f4f8fc;
	}
}

.isMe {
	order: -1;
}
