.wrapper {
	width: 100%;
	height: 100%;
	display: flex;

	.container {
		width: 100%;
		height: 100%;
		overflow: auto;
		padding: 24px 32px;
		flex-direction: column;
		gap: 12px;
		.top {
			gap: 12px;
			.top1 {
				gap: 8px;
				align-items: center;
				.title {
					font-weight: 600;
					font-size: 18px;
				}
			}
			.top2 {
				background: #fff;
				padding: 12px 16px;
				gap: 16px;
				border-radius: 16px;
				.skeleton {
					border-radius: 16px;
					height: 82px;
					width: 100%;
				}
				.switchStatus,
				.titleHangout {
					justify-content: space-between;
					align-items: center;
				}
				.hangoutPeople {
					flex-wrap: wrap;
					gap: 4px;
					padding: 4px;
					border-bottom: 1px solid #f4f8fc;
					overflow-x: visible;

					> div {
						flex-shrink: 0;
					}
				}
				.titleHangout {
					display: flex;
					padding: 12px 16px;
					align-items: center;
					gap: 8px;
					border-radius: 16px;
					background: #f4f8fc;
					cursor: pointer;
				}
			}
		}
		.waitingWrapper {
			width: 100%;
			gap: 4px;
			.waitingItem {
				width: 100%;
				background: white;

				justify-content: space-between;
				align-items: center;
				padding: 8px 16px;
				.waitingItemLeft {
					gap: 12px;
					.name {
						font-weight: 600;
					}
				}
				.btnAction {
					gap: 12px;
					.iconCancel,
					.iconAccept {
						border-radius: 50%;
						height: 24px;
						width: 24px;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						svg {
							height: 16px;
							width: 16px;
						}
					}
					.iconCancel {
						background-color: rgba(0, 58, 111, 0.08);
						color: #000;
					}
					.iconAccept {
						color: #fff;
						background-color: #006b35;
					}
				}
			}
			.waitingOther {
				justify-content: space-between;
				width: 100%;
				align-items: center;
				background: #fff;
				padding: 12px;
				.waitingOtherMore {
					min-width: fit-content;
					color: #e55a0f;
					text-align: center;
					font-size: 12px;
					font-weight: 600;
					cursor: pointer;
				}
			}
		}
		.bottom {
			width: 100%;
			gap: 12px;
			.page {
				width: 100%;
				padding: 4px;
				border-radius: 50px;
				background: #fff;
				gap: 12px;
				.pageItem {
					width: 50%;
					div {
						height: 40px;
						width: 100%;
						button {
							height: 40px;
						}
					}
				}
			}
			.noActiveHangout {
				align-items: center;
				justify-content: center;
				gap: 8px;
				.title {
					font-size: 20px;
					font-weight: 600;
				}
				.desc {
					color: #48546b;

					font-size: 14px;
				}
			}
		}
	}
	.minify {
		min-width: 375px;
		max-width: 375px;
		background: #fff;
		padding: 16px;
	}
}

@media (min-width: 0px) and (max-width: 769px) {
	.wrapper {
		.container {
			padding: 8px;
		}
		.minify {
			min-width: 0px;
			max-width: 0px;
			padding: 0;
			background: #fff;
		}
	}
}
