.wrapper {
	width: fit-content;
	max-width: 100%;

	.container {
		align-items: center;
		gap: 8px;
		width: fit-content;
		background: #f4f8fc;
		border-radius: 50px;
		padding: 0 4px;

		.playAudioContainer {
			.playAudio {
				align-items: center;
				justify-content: center !important;
				padding: 6px;
				gap: 8px;
				cursor: pointer;
				border-radius: 50%;
				height: 32px;
				width: 32px;
				border-radius: 99px;
				background: #f4f8fc;
			}
			order: -1;
		}

		.audio {
			width: 104px;
			flex: 0 0 104px;
			min-width: 104px;
			max-width: 104px;

			:global(wave),
			:global(canvas) {
				width: 104px !important;
			}

			:global(.cursor) {
				height: 40%;
			}
		}
	}

	.right {
		background: #e7f5e9;
	}
}
