.layout {
	width: 100%;
	.wrapperMentionSuggest {
		width: 100%;
		max-height: 144px;
		overflow-y: scroll;
		.mentionSuggestItem {
			padding: 12px 16px;
			gap: 12px;
			width: 100%;
			align-items: center;
			cursor: pointer;
			.avatar {
				height: 24px;
				width: 24px;
			}
			&:hover {
				background: #f0f3f9;
			}
		}
		.skeletonWrapper {
			.skeleton {
				width: 100%;
				padding: 12px 16px;
				height: 48px;
				div {
					width: 100%;
					span {
						width: 100%;
						height: 24px;
					}
				}
			}
		}
	}
}
.wrapper :global(.ant-input) {
	padding: 8px 16px;
	border-radius: 16px;
	background: #f4f8fc;
	height: 44px;
}
.wrapper :global(.ant-input-group-addon) {
	padding: 8px 16px;
	background: #f4f8fc;
	border-radius: 16px 0 0 16px !important;
}
.wrapper :global(.ant-input-affix-wrapper) {
	border-radius: 16px;
	padding: 0px 16px;
}
.wrapper {
	input {
		padding: 12px 16px;
		&:-webkit-autofill {
			-webkit-text-fill-color: black;
			-moz-transition: background-color 2147483647s;
			-webkit-transition: background-color 2147483647s;
			-o-transition: background-color 2147483647s;
			transition: background-color 2147483647s;
		}
	}
}
