.layout {
	height: 100%;
	width: 100%;
	.wrapper {
		align-items: center;
		background: #f4f8fc;
		height: 100%;
		width: 100%;
		& :global(.ant-select-selector) {
			svg {
				height: 20px;
				width: 20px;
			}
		}
		// svg {
		// 	height: 20px;
		// 	width: 20px;
		// }
	}
	& :global(.ant-select) {
		border-radius: 16px;
		min-height: 40px;
		height: 100%;
		width: 100%;
		background: #f4f8fc;
		& :global(.ant-select-selector) {
			background: #f4f8fc !important;
			border-radius: 16px;
			& :global(.ant-select-prefix) {
				height: 20px;
			}
		}
	}
}
