.itemHangout {
	position: relative;
	min-width: 343px;
	max-width: 343px;
	height: 235px;
	background: #fff;
	border-radius: 16px;
	overflow: hidden;
	.avatar {
		height: 140px;
		:global(.ant-image) {
			height: 100%;
		}
		img {
			object-fit: cover;
		}
	}
	.timeSpace {
		position: absolute;
		top: calc(140px);
		transform: translateY(-50%);
		right: 16px;
		gap: 4px;
		.timeSpaceItem {
			padding: 6px 12px;
			justify-content: center;
			align-items: center;
			gap: 4px;
			border-radius: 32px;
			background: #fff;

			/* elv-2 */
			box-shadow: 0px 0px 16px 0px rgba(0, 58, 111, 0.08);
		}
	}
	.info {
		padding: 20px 16px 8px 16px;
		height: 228px;
		gap: 4px;

		.title {
			/* Body/Body 16 Semibold */
			font-size: 16px;
			font-weight: 600;
		}
		.otherInfo {
			gap: 4px;
			.infoItem {
				color: #48546b;
				gap: 4px;
				flex: 1;
				span {
					width: 240px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					display: flex;
					align-items: center;
				}
			}
			button {
				height: 40px;
			}
		}
	}
}
