.wrapperContainerMainLayout {
	@media (min-width: 1440px) {
		align-items: center !important;
		width: 100%;
	}
	@media (max-width: 1440px) {
		// align-items: center !important;
		width: 100%;
	}
}
.mainLayout {
	display: flex;
	justify-content: center;
	background: white;
	width: 100%;
	overflow-x: hidden;
}
.menuItemTopDivider {
	border-top: 1px solid #eef3f6;
	margin-top: 8px;
}
.wrapperMainLayout {
	color: #0f1729;
	width: 100%;
	max-width: 1440px;
	min-width: 0;
	.bodyMainLayout {
		background-color: #f4f7fc;
		height: calc(100dvh - 84px);
		width: 100%;
		min-width: 0;
		.sideBarMainLayoutWrapper {
			.sideBarMainLayout {
				width: 240px;
				background: white;
				height: 100%;
				border-right: 1px solid #eef3f6;
				background: #fff;
				.sideBarMenuToggle {
					display: none;
				}
				.sideBarMainLayoutItem {
					overflow: auto;

					.menuItem {
						padding: 8px 24px;
						height: 64px;
						cursor: pointer;
						color: #94a3b8;
						align-items: center;
						.iconItemMenu {
							width: 24px;
						}
						svg {
							height: 20px;
							width: 20px;
						}
						&:hover {
							color: #006b35;
							path {
								fill: #006b35;
							}
						}
					}

					.menuItemActive {
						color: #006b35;
						path {
							fill: #006b35;
						}
					}
				}
			}
		}

		.contentMainLayout {
			// padding: 24px 32px;
			overflow: auto;
			height: 100%;
			flex: 1;
			min-width: 0;
		}
	}
}
@media (max-width: 1440px) {
	.mainLayout {
		justify-content: initial;
		overflow-x: hidden;
	}
}
@media (min-width: 0px) and (max-width: 1024px) {
	.wrapperMainLayout {
		max-width: 100%;
		min-width: 100%;
	}
	.wrapperMainLayout {
		.headerMainLayout {
			min-height: 56px;
			max-height: 56px;
		}
		.bodyMainLayout {
			height: calc(100dvh - 56px);
			.sideBarMainLayoutWrapper {
				z-index: 2;
				position: absolute;
				height: 100%;
				top: 0;
				background: rgba(0, 0, 0, 0.5);
				.sideBarMainLayout {
					.sideBarMenuToggle {
						display: flex;
						min-height: 56px;
						padding: 0px 24px;
						align-items: center;
						gap: 12px;
						color: black;
						border-bottom: 1px solid #eef3f6;

						/* elv-1 (bottom-bar) */
						box-shadow: -2px 0px 12px 0px rgba(0, 13, 25, 0.1);
						.sideBarMenuToggleICon {
							width: 24px;
							cursor: pointer;
							color: #7987a4;
						}
						span {
							font-weight: 600;
						}
					}
				}
				transition: transform 0.3s ease-in-out;
				transform: translateX(-100%);
				width: 100%;
			}

			.openLayoutMenu {
				width: 100%;
				transform: translateX(0);
			}
			.contentMainLayout {
				height: 100%;
			}
		}
	}
}
