.wrapper {
	height: 100%;
	width: 100%;
	justify-content: space-between;
	background: #f4f8fc;

	.title {
		padding: 20px 32px;
		height: 80px;
		font-size: 32px;
		font-weight: 600;
		width: 100%;
		background: white;
		align-items: center;
		justify-content: space-between;
	}
	.step {
		padding: 8px 32px;
		// min-height: 96px;
		// max-height: 96px;
		font-size: 32px;
		font-weight: 600;
		width: 100%;
		align-items: center;
		.stepContent {
			width: 100%;
		}
	}
	.content {
		flex: 1;
		align-items: center;
		justify-content: center;
		width: 100%;
		background: #f4f7fc;
		padding-bottom: 24px;
	}
	.footer {
		background: white;
		width: 100%;
		padding: 16px 0px;
	}
}

@media (min-width: 376px) and (max-width: 769px) {
	.wrapper {
		.title {
			padding: 8px 32px;
			font-size: 20px;
			height: 48px;
		}
	}
}
@media (min-width: 0px) and (max-width: 376px) {
	.wrapper {
		.title {
			padding: 8px 32px;
			font-size: 20px;
			height: 48px;
		}
		.step {
			padding: 8px;
		}

		.footer {
			padding: 16px 0;
		}
	}
}
