.wrapper {
	height: 100%;
	width: 100%;
	justify-content: space-between;
	.title {
		padding: 20px 32px;
		height: 80px;
		font-size: 32px;
		font-weight: 600;
		width: 100%;
	}
	.step {
		padding: 20px 32px;
		min-height: 96px;
		font-size: 32px;
		font-weight: 600;
		width: 100%;
	}
	.content {
		flex: 1;
	}
}
