.layout {
	width: 100%;
	min-width: 200px;
	.wrapper {
		align-items: center;
		& :global(.ant-picker-suffix) {
			height: 100%;
			width: 20px;
			align-items: center;
		}
	}
	.wrapper :global(.ant-input) {
		padding: 8px 16px;
		border-radius: 16px;
		background: #f4f8fc;
		height: 44px;
	}
	.wrapper :global(.ant-input-group-addon) {
		padding: 8px 16px;
		background: #f4f8fc;
		border-radius: 16px 0 0 16px !important;
	}
	.wrapper :global(.ant-input-affix-wrapper) {
		border-radius: 16px;
		padding: 0px 16px;
	}
}

.wrapper {
	input {
		padding: 12px 16px;
		&:-webkit-autofill {
			-webkit-text-fill-color: black;
			-moz-transition: background-color 2147483647s;
			-webkit-transition: background-color 2147483647s;
			-o-transition: background-color 2147483647s;
			transition: background-color 2147483647s;
		}
	}
}

.customHeaderContainer {
	.customHeader {
		gap: 8px;
		padding: 12px 16px;
		button {
			height: 36px;
		}
	}
}
.layoutWhite {
	.wrapper :global(.ant-input) {
		background: #fff;
	}
	.wrapper :global(.ant-input-group-addon) {
		background: #fff;
	}
}
