.wrapper {
	overflow: auto;
	.top {
		align-items: center;
		.title {
			color: #0f1729;
			text-align: center;
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: 32px;
			letter-spacing: 0;
		}
		.text {
			color: #48546b;
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0;
		}
	}
	.topicRadioWrapper {
		gap: 12px;
		.topicRadioGroup {
			display: flex;
			flex-direction: column;
			gap: 8px;

			:global(.ant-radio-checked .ant-radio-inner) {
				border-color: #006b35;
				background-color: #006b35;
			}
			:global(.ant-radio-checked .ant-radio-inner::after) {
				background-color: #fff;
			}
		}
		.typeIssueTitle {
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			letter-spacing: 0;
		}
		.topicRadioText {
			padding-left: 8px;
		}
		.topicRadioTitle {
			color: var(--text-primary, #0f1729);

			font-size: var(--body-base-size, 14px);
			font-style: normal;
			font-weight: 400;
			line-height: var(--body-base-line-height, 20px);
			letter-spacing: var(--body-base-tracking, 0);
		}
		.topicRadioDesc {
			color: var(--text-secondary, #48546b);

			font-size: var(--body-small-size, 12px);
			font-style: normal;
			font-weight: 400;
			line-height: var(--body-small-line-height, 16px);
			letter-spacing: var(--body-small-tracking, 0);
		}
	}
	.middle {
		margin-top: 16px;
		margin-bottom: 16px;
		gap: 8px;
		.typeIssueTitle {
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			letter-spacing: 0;
		}
		// align-items: center;
		.topic,
		.email {
			width: 100%;
			min-height: 50px;

			:global(span.bold),
			:global(.layout > span:first-child) {
				color: #0f1729;
				font-size: 14px;
				font-weight: 500;
				line-height: 20px;
			}
		}
		.content {
			width: 100%;
			min-height: 50px;

			:global(span.bold),
			:global(.layout > span:first-child) {
				color: #0f1729;
				font-size: 14px;
				font-weight: 500;
				line-height: 20px;
			}
		}
		.chooseImg {
			gap: 4px;
			width: 100%;
			.upload {
				width: fit-content;
				padding: 0px 12px;
				height: 32px;
				border-radius: 999px;
				background-color: #f0f3f9;
				cursor: pointer;
				color: var(--component-button-secondary-fg-default, #0f1729);

				/* body/base-emphasis */
				font-size: var(--body-base-size, 14px);
				font-style: normal;
				font-weight: 600;
				line-height: var(--body-base-line-height, 20px); /* 142.857% */
				letter-spacing: var(--body-base-tracking, 0);
			}

			.uploadText {
				color: var(--text-secondary, #48546b);

				/* body/small */
				font-size: var(--body-small-size, 12px);
				font-style: normal;
				font-weight: 400;
				line-height: var(--body-small-line-height, 16px); /* 133.333% */
				letter-spacing: var(--body-small-tracking, 0);
			}
		}
		.medias {
			gap: 8px;
			overflow: auto;

			.media {
				position: relative;

				img {
					border-radius: 16px;
					height: 80px;
					width: 80px;
					object-fit: cover;
				}
				.videoPreview {
					border-radius: 16px;
					height: 80px;
					height: 80px;
					width: 80px;
					object-fit: cover;
				}
				.chooseImgCancel {
					width: 20px;
					height: 20px;
					position: absolute;
					right: 4px;
					top: 4px;
					color: #fff;
					cursor: pointer;
				}
			}
		}
	}
}
