.optionRow {
	padding: 4px 0;
}

.checkbox {
	width: 18px;
	height: 18px;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	display: inline-block;
	flex-shrink: 0;
	position: relative;
	background: #fff;
}

.checked {
	background: #006b35;
	border-color: #006b35;

	&::after {
		content: '';
		position: absolute;
		left: 5px;
		top: 1px;
		width: 5px;
		height: 10px;
		border: solid #fff;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}
}

.layout {
	height: 100%;
	width: 100%;
	.wrapper {
		align-items: center;
		background: #f4f8fc;
		height: 100%;
		width: 100%;
		svg {
			height: 20px;
			width: 20px;
		}
	}
	& :global(.ant-select) {
		border-radius: 16px;
		min-height: 40px;
		width: 100%;
		background: #f4f8fc;
		& :global(.ant-select-selector) {
			background: #f4f8fc !important;
			padding: 8px;
			border-radius: 16px;
			max-height: 44px;
			& :global(.ant-select-prefix) {
				height: 20px;
			}
			& :global(.ant-select-selection-wrap) {
				height: 100%;
				overflow: auto;
				line-height: 26px;
				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
	}
}
