.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	background: white;
	.container {
		height: 100%;
		width: 100%;
		.convContainer {
			gap: 8px;
			min-width: 392px;
			.searchBar {
				// height: 44px;
				padding: 16px 16px 0 16px;
			}
			.backButton {
				padding: 8px 16px 0 16px;
				cursor: pointer;
				align-items: center;
			}
			.convList {
				padding: 0 16px 16px 16px;
				height: calc(100% - 44px);
				overflow: auto;
				width: 100%;
				overflow-x: hidden;
				.convItemWrapper {
					height: 60px;
					width: 100%;
					cursor: pointer;
					.convItem {
						padding: 8px 0;
						width: 100%;
						gap: 12px;
						:global(.ant-avatar) {
							min-width: 40px;
							min-height: 40px;
						}
						.info {
							width: 100%;
							height: 100%;
							justify-content: space-between;
							.infoTop {
								justify-content: space-between;
								gap: 4px;
								.name {
									font-weight: 600;
									width: 190px;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;
								}
								.long {
									width: 208px;
								}
								.time {
									align-items: center;
									gap: 8px;
									min-width: fit-content;
									.unread {
										width: 8px;
										height: 8px;
										border-radius: 99px;
										background: #2381ff;
									}
								}
							}
							.text {
								width: 284px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
				}
			}
		}
		.chatContainer {
			width: 100%;
		}
		.newRq {
			padding: 8px 16px;
			margin: 0 16px;
			border-radius: 16px;
			background: #f4f8fc;
			align-items: center;
			min-height: 56px;
			gap: 8px;
			cursor: pointer;
			.messageIcon {
				position: relative;
				.count {
					position: absolute;
					color: #fff;
					text-align: center;
					font-size: 8px;
					font-weight: 600;
					line-height: 10px; /* 125% */
					background: red;
					border-radius: 50%;
					height: 10px;
					min-width: 10px;
					width: fit-content;
					padding: 0 2px;
					right: 0px;
					border: 1px solid white;
				}
			}
			.messageTitle {
				flex: 1;
				.title {
					font-weight: 600;
				}
			}
			.iconCancel {
				color: #7b88a6;
				cursor: pointer;
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 769px) {
	.wrapper {
		.container {
			.convContainer {
				min-width: 100%;

				.searchBar {
				}
				.backButton {
				}
			}
			.mini {
				display: none;
			}

			.chatContainer {
				width: 100%;
			}
			.newRq {
				padding: 8px 16px;
				margin: 0 16px;
				border-radius: 16px;
				background: #f4f8fc;
				align-items: center;
				min-height: 56px;
				gap: 8px;
				cursor: pointer;
				.messageIcon {
					position: relative;
					.count {
						position: absolute;
						color: #fff;
						text-align: center;
						font-size: 8px;
						font-weight: 600;
						line-height: 10px; /* 125% */
						background: red;
						border-radius: 50%;
						height: 10px;
						min-width: 10px;
						width: fit-content;
						padding: 0 2px;
						right: 0px;
						border: 1px solid white;
					}
				}
				.messageTitle {
					flex: 1;
					.title {
						font-weight: 600;
					}
				}
				.iconCancel {
					color: #7b88a6;
					cursor: pointer;
				}
			}
		}
	}
}
