.wrapper {
	position: relative;
	.bandage,
	.custom {
		position: absolute;
		bottom: -5px;
		right: -5px;
		height: 16px;
		width: 16px;
		border-radius: 99px;
		border: 1px solid #fff;
		background: #e55a0f;
		align-items: center;
		justify-content: center;
	}
	.custom {
		background: #fff;
		border: none;
	}
}
