.wrapper {
	height: 100%;
	width: 100%;

	.container {
		padding: 24px;
		height: 100%;
		width: 100%;
		gap: 12px;
		.header {
			justify-content: space-between;
			gap: 8px;
			align-items: center;
			color: #0f1729;
			font-size: 18px;
			font-weight: 600;
			button {
				height: 32px;
				font-size: 12px;
				padding: 0 16px;
			}
			.buttonAdd {
				display: none;
				color: #e55a0f;
				cursor: pointer;
			}
		}
		.content {
			flex: 1;
			padding: 12px 16px;
			background: #fff;
			border-radius: 16px;
			gap: 12px;
			.search {
				width: 100%;
			}
			.networkClubWrapper {
				gap: 24px;
				.networkClub {
					.networkTitle {
						font-weight: 600;
						gap: 8px;
						align-items: center;
						padding: 8px 0px;
						.networkName {
							text-align: center;
							font-size: 16px;
						}
						.networkCount {
							min-width: 24px;
							height: 20px;
							padding: 0 8px;
							justify-content: center;
							align-items: center;
							font-size: 12px;
							border-radius: 99px;
							background: #f0f3f9;
							color: #006b35;
						}
					}
					.networkList {
						padding: 0 16px;
						overflow-x: auto;
						gap: 24px;
						height: 100%;
						.communityItem {
							justify-content: space-between;
							cursor: pointer;

							.communityAva {
								height: 80px;
								width: 80px;
							}
							.communityBandage {
								height: 24px;
								width: 24px;
								right: -2px;
							}
							.communityLabel {
								display: -webkit-box;
								-webkit-line-clamp: 2; /* số dòng muốn hiển thị */
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
								line-clamp: 2; /* new standard */
								word-break: break-word;
								text-align: center;
								max-width: 80px;
								font-weight: 600;
								font-size: 12px;
							}
						}
						.notNetwork {
							width: 100%;
							align-items: center;
							gap: 8px;
							button {
								height: 40px;
							}
						}
					}
				}
			}
			.loading {
				gap: 24px;
				display: flex;
				flex-direction: column;
				.skeletonWrapper {
					height: 144px;
					width: 100%;
					border-radius: 16px;
					div,
					span {
						height: 100%;
						width: 100%;
					}
				}
			}
		}
		.title {
			font-weight: 600;
			font-size: 18px;
		}
		.note {
			color: #48546b;
		}
	}
}

@media (min-width: 0px) and (max-width: 769px) {
	.wrapper {
		.container {
			padding: 8px;
			.header {
				.bntAdd {
					display: none;
				}
				.buttonAdd {
					display: flex;
				}
			}
		}
	}
}
