.hangoutChatWrapper {
	display: flex;
	height: 100%;
	background: #fff;
	width: 100%;
	min-width: 712px;
	.chatContainer {
		width: 100%;

		.title,
		.header {
			align-items: center;
			font-size: 18px;
			font-weight: 600;
			border-bottom: 1px solid #eef3f6;
			padding: 16px;
			width: 100%;
			height: 52px;
			gap: 4px;
			& .skeleton {
				height: 30px;
				width: 100%;
			}
		}
		.participants {
			padding: 8px 16px;
			width: 100%;
			align-items: center;
			border-bottom: 1px solid #eef3f6;
			font-weight: 600;
			justify-content: space-between;
			.avatars {
				gap: 4px;
			}
		}

		.ggMap {
			height: 104px;
			width: 100%;
			position: relative;
			overflow: hidden;
		}
		.waitingWrapper {
			overflow: auto;
			max-height: 60px;
			.waitingItem {
				padding: 8px 16px;
				justify-content: space-between;
				align-items: center;

				.waitingItemLeft {
					align-items: center;
					gap: 4px;
					.opacityDown {
						opacity: 0.5;
					}
				}
				.btnAction {
					gap: 8px;
					.iconCancel,
					.iconAccept {
						border-radius: 50%;
						height: 24px;
						width: 24px;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						svg {
							height: 16px;
							width: 16px;
						}
					}
					.iconCancel {
						background-color: rgba(0, 58, 111, 0.08);
						color: #000;
					}
					.iconAccept {
						color: #fff;
						background-color: #006b35;
					}
				}
			}
		}
		.header {
			justify-content: space-between;
			.action {
				gap: 12px;
				.iconMore,
				.iconClose {
					padding: 6px;
					border-radius: 99px;
					background: #f4f8fc;
					height: 32px;
					width: 32px;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
		}
		.chatBox {
			flex: 1;
			overflow: auto;
		}
	}
}
@media (min-width: 0px) and (max-width: 769px) {
	.hangoutChatWrapper {
		min-width: 100%;
	}
}
