.headerMainLayoutWrapper {
	background: white;
	border-bottom: 1px solid #eef3f6;

	height: 80px;
	justify-content: space-between;
	padding: 0 32px !important;
	align-items: center;
	.headerMainLayout {
		gap: 136px;
		align-items: center;

		.homeMainLayout {
			align-items: center;
			div {
				font-size: 20px;
				font-weight: 600;
				color: #006b35;
			}
		}
		.headerSearchMainLayout {
			max-width: 300px;
			.headerSeachOutline {
				font-size: 20px;
				color: #7987a4;
			}
		}
	}
	.headerButton {
		gap: 12;
		position: relative;
		.headerMenuOutlined {
			display: none;
		}
		.headerIcon {
			height: 40px;
			width: 40px;
			align-items: center;
			justify-content: center;
			background: #eef3f6;
			border-radius: 50%;
			color: #7987a4;
			cursor: pointer;
			position: relative;
		}
		.menuItemHeaderWrapper {
			position: absolute;
			width: 343px;
			padding: 12px;
			flex-direction: column;
			color: #0f1729;
			right: 0%;
			top: 50px;
			border-radius: 8px;
			border: 1px solid #eef3f6;
			background: #fff;
			z-index: 10;
			/* FAB */
			box-shadow: -2px -2px 8px 0px rgba(0, 0, 0, 0.1),
				2px 2px 8px 0px rgba(0, 0, 0, 0.1);
			.menuItemHeaderChild {
				padding: 12px 0;
				cursor: pointer;
			}
		}
	}
}
@media (min-width: 0px) and (max-width: 769px) {
	.headerMainLayoutWrapper {
		min-height: 56px;
		max-height: 56px;
		padding: 0 16px !important;

		.headerMainLayout {
			gap: 40;
		}
		.headerButton {
			gap: 12;
			.headerMenuOutlined {
				display: flex;
				color: #94a3b8;
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 550px) {
	.headerMainLayoutWrapper {
		.headerSearchMainLayout {
			display: none;
		}
	}
}
