.wrapper {
	gap: 12px;
	display: flex;
	flex-direction: column;
	.infoPeople {
		.people {
			gap: 4px;
			flex: 1;
			align-items: center;
			.title {
				font-weight: 600;
			}
			.number {
				color: #006b35;
			}
		}
		.radius {
			width: 125px;

			:global(.ant-select-selection-item) {
				color: #006b35;
				font-weight: 600;
			}

			:global(.anticon),
			:global(.ant-select-arrow) {
				color: #006b35;
			}
		}
	}
	.hangoutWrapper {
		overflow: auto;
		gap: 16px;
		flex-wrap: wrap;
		min-height: 200px;

		.skeleton {
			min-width: 343px;
			max-width: 343px;
			height: 235px;
			& > :global(.ant-skeleton-input) {
				min-width: 343px;
				max-width: 343px;
				height: 235px;
				border-radius: 16px;
			}
		}
		.loadmore {
			width: 100%;
			align-items: center;
			justify-content: center;
		}
		.noHangout {
			width: 100%;
			align-items: center;
			color: #7987a4;
			gap: 8px;
			.titleNoHangout {
				font-size: 20px;
				font-weight: 600;
			}
			.textNoHangout {
				white-space: pre;
				text-align: center;
			}
		}
	}
}
