.wrapperCModalError,
.wrapperCModalSuccess,
.wrapperCModalConfirm {
	.cModalContent {
		flex: 1;
		.CModalTitle {
			font-size: 32px;
			font-weight: 600;
		}
		.CModalBody {
			display: flex;
			flex: 1;
			justify-content: center;
			text-align: center;
		}
		.CModalBodySelect {
			width: 100%;
			gap: 12px;
			button {
				width: 100%;
			}
		}
	}
}
.wrapperCModalConfirm {
	.cModalContent {
		.error {
			color: #e53835;
		}
	}
}
.wrapperCModal {
	width: unset !important;
}

@media (min-width: 0px) and (max-width: 769px) {
	.wrapperCModal {
		div {
			.ant-modal-content {
				padding: 12px;
			}
		}
	}
}
