.wrapper {
	display: flex;
	padding: 24px var(--spacing-spacer-8, 32px);
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex: 1 0 0;
	align-self: stretch;

	.header {
		align-items: center;
		gap: var(--spacing-spacer-12, 12px);
		.title {
			color: var(--color-grey-700-p-text, #0f1729);

			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 28px; /* 155.556% */
		}
		.iconBack {
			color: #94a3b8;
			cursor: pointer;
		}
		.iconBook {
			display: flex;
			min-height: 32px;
			min-width: 32px;
			padding: 0 var(--spacing-spacer-2, 8px);
			justify-content: center;
			align-items: center;
			gap: var(--spacing-spacer-0, 0);
			border-radius: var(--radius-component-button, 999px);
			background: var(--component-button-tertiary-bg-default, #006b35);
			cursor: pointer;
		}
	}

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		gap: 12px;

		.leftContent {
			flex: 2;
			width: 100%;
			display: flex;
			gap: 12px;
			min-width: 0;
			flex-direction: column;

			.profileContainer {
				flex: 1;
				display: flex;
				padding: 16px;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				gap: 12px;
				border-radius: 8px;
				background: #fff;
			}

			.listTalkroomContainer {
				padding: 16px;
				border-radius: 8px;
				background: #fff;
				min-width: 0;
				display: flex;
				flex-direction: column;
				gap: 12px;

				.listTalkroomHeader {
					display: flex;
					gap: 4px;
					align-items: center;

					.listTalkroomHeaderTitle {
						color: var(--text-primary, #0f1729);

						font-size: var(--title-small-size, 16px);
						font-style: normal;
						font-weight: 600;
						line-height: var(--title-small-line-height, 24px);
					}
					.amountRooms {
						display: flex;
						height: 20px;
						padding: var(--spacing-spacer-0, 0) var(--spacing-spacer-2, 8px);
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: var(--spacing-spacer-0, 0);
						border-radius: 99px;
						background: var(--background-secondary, #f0f3f9);

						color: var(--text-brand-secondary, #006b35);
						text-align: center;

						font-size: var(--body-small-size, 12px);
						font-style: normal;
						font-weight: 600;
						line-height: var(--body-small-line-height, 16px);
						letter-spacing: var(--body-small-tracking, 0);
					}
				}

				.listTalkroomInner {
					width: 100%;
				}
			}
		}
		.rightContent {
			flex: 1;
		}
	}
}
