.wrapper {
}
.container {
	display: flex;
	flex-direction: column;
	gap: 28px;
	overflow: auto;
	.section {
		gap: 12px;
		.header {
			gap: 4px;
			.title {
				font-size: 16;
				font-style: normal;
				font-weight: 600;
			}
			.subTitle {
				color: #48546b;
			}
		}
		.userList {
			gap: 16px;
			height: fit-content;
			flex-wrap: wrap;
			// overflow: auto;
			max-height: 100%;
			.user {
				gap: 4px;
				min-width: 170px;
				max-width: 170px;
				align-items: center;
				cursor: pointer;
				.userAvatarWrapper {
					position: relative;

					.userAvatar {
						height: 64px;
						width: 64px;
					}
					.flagWrapper {
						display: flex;
						align-items: center;
						justify-self: center;
						overflow: hidden;
						height: 20px;
						width: 20px;
						position: absolute;
						right: -4px;
						bottom: 4px;
						border-radius: 50%;
						border: 1px solid #fff;
						.flag {
							transform: translateX(-5px);
							min-height: 20px;
							min-width: 30px;
						}
					}
				}
				.userName {
					display: -webkit-box;
					-webkit-line-clamp: 1; /* số dòng muốn hiển thị */
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					line-clamp: 1; /* new standard */
					text-align: center;
					word-break: break-word;
					font-weight: 600;
					font-size: 12px;
				}
				.userOtherInfo {
					color: #48546b;
					font-size: 12px;
					font-weight: 500;
				}
				.iconGender {
					svg {
						height: 14px;
						width: 14px;
					}
				}
				.addressLocal {
					gap: 4px;
					align-items: center;
					.icon {
						min-width: 12px;
						svg {
							width: 12px;
							height: 12px;
						}
					}
					div {
						display: -webkit-box;
						-webkit-line-clamp: 1; /* số dòng muốn hiển thị */
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						line-clamp: 1; /* new standard */
						text-align: center;
						word-break: break-word;
						font-size: 12px;
					}
				}
			}
			.moreAround {
				position: relative;
				.moreAroundMe {
					position: absolute;
					top: 0;
					background: rgba(0, 8, 25, 0.48);
					height: 64px;
					width: 64px;
					border-radius: 50%;
					align-items: center;
					justify-content: center;
					color: #fff;
					font-weight: 600;
					font-size: 18px;
				}
			}
			.skeleton {
				gap: 4px;
				min-width: 170px;
				max-width: 170px;
				align-items: center;
				.skeletonAva {
					height: 64px;
					width: 64px;
					span {
						height: 64px;
						width: 64px;
					}
				}
				.skeletonLabel {
					height: 19px;
				}
			}
		}
	}
}
@media (min-width: 0px) and (max-width: 820px) {
	.container {
		.section {
			.header {
				.title {
				}
				.subTitle {
				}
			}
			.userList {
				.user {
					min-width: calc(33% - 16px);
					max-width: calc(33% - 16px);
					.userAvatarWrapper {
						.userAvatar {
						}
						.flagWrapper {
							.flag {
							}
						}
					}
					.userName {
					}
					.userOtherInfo {
					}
					.iconGender {
						svg {
						}
					}
					.addressLocal {
						.icon {
							svg {
							}
						}
						div {
						}
					}
				}
				.skeleton {
					min-width: calc(33% - 16px);
					max-width: calc(33% - 16px);
					.skeletonAva {
						span {
						}
					}
					.skeletonLabel {
						max-width: 100%;
						min-width: 100%;
						overflow: hidden;
						span {
							max-width: 100%;
							min-width: 100%;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 0px) and (max-width: 376px) {
	.container {
		.section {
			.header {
				.title {
				}
				.subTitle {
				}
			}
			.userList {
				.user {
					min-width: calc(50% - 16px);
					max-width: calc(50% - 16px);
					.userAvatarWrapper {
						.userAvatar {
						}
						.flagWrapper {
							.flag {
							}
						}
					}
					.userName {
					}
					.userOtherInfo {
					}
					.iconGender {
						svg {
						}
					}
					.addressLocal {
						.icon {
							svg {
							}
						}
						div {
						}
					}
				}

				.skeleton {
					min-width: calc(50% - 16px);
					max-width: calc(50% - 16px);
					.skeletonAva {
						span {
						}
					}
					.skeletonLabel {
					}
				}
			}
		}
	}
}
